body {
    background-color: #383B53;
    margin: 0px;
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
    background-color: #D4D6B9;
}

.message {
    display: inline-flex;
    flex: 3;
    text-align: center;
    justify-content: center;
    align-items:center;
    height: 100%;
}

#whosturn {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    align-content: stretch;
}

.header > h2 {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header > .black, .header > .finished_black_win, .scores > .black {
    background-color: black;
    color: floralwhite;
}

.header > .white, .header > .finished_white_win, .scores > .white {
    background-color: floralwhite;
}

#whosturn input {
    border: 0;
    width: 100%;
    height: 50%;
}

.scores {
    height: 100%;
    flex: 1;
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background: #D1CAA1;
}

.scores > span {
    align-items: center;
    justify-content: center;
    padding: 4pt;
}

.words {
    width:100%;
    height: 90%;
    padding: 0pt;
    margin: 0pt;
    background-color: lightblue;
    justify-content: space-around;
}

.word-list {
    width: 100%;
    height: 100%;
    margin: 0pt;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin: 0pt;
    background-color: #383B53;
}

.word-list > li {
    font-size: larger;
    flex: 1 0 16%;
    display: inline-flex;
    border:0.2em solid #32213A;
    margin: 4pt;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.word-list > .unknown {
    background-color: #D1CAA1;
    cursor: pointer;
}

.word-list > .black {
    background-color: black;
    color: dimgray;
}

.word-list > .white {
    background-color: floralwhite;
    color: gray;
}

.word-list > .neutral {
    background-color: dimgray;
    color: gray;
}

.word-list > .killer {
    color: black;
    background-color: red;
}

.word-list a {
  /* This flexbox code stretches the link's clickable 
   * area to fit its parent block. */
  display:        flex;
  flex-grow:      1;
  flex-shrink:    1;
  justify-content: center;
}

.wordlists {
    width: 90%;
    font-family: serif;
    font-size: large;
    background: #D4D6B9;
}

.wordlists > #killerword {
    background-color: darkred;
    color: floralwhite;
}

.wordlists div {
    margin: 0.5em;
    padding: 1em;
}

.wordlists > .black {
    background-color: black;
    color: floralwhite;
}

.wordlists > .white {
    background-color: floralwhite;
    color: black;
}

.revealedword {
    text-decoration: line-through;
}

.content {
    display: flex;
    justify-content: center;
}

#startmenu {
    background-color: #D1CAA1;
    width: 50%;
    height: 40%;
    margin: 5em;
    padding: 5em;
    align-content: space-between;
    justify-content: space-between;
    text-align: center;    
}

#startmenu > .actionbutton {
    border: 0pt;
    background-color: #383B53;
    color: floralwhite;
    font-size: x-large;
}